<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CodexPet Nest</string>
	<key>CFBundleExecutable</key>
	<string>CodexPetNest</string>
	<key>CFBundleIconFile</key>
	<string>CodexPetNest</string>
	<key>CFBundleIdentifier</key>
	<string>xyz.codexpet.nest</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CodexPet Nest</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>xyz.codexpet.nest</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>codexpetnest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>16</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>We need permission to run commands in Terminal via Quick Actions.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>FSL-1.1-MIT. Converts to MIT on 2028-05-06. Copyright (c) 2026 Ryan Niu.</string>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://codexpet.xyz/appcast/codexpet-nest.xml</string>
	<key>SUPublicEDKey</key>
	<string>/fpwDcLXjTudfbtxoRSNhm/irAIxpUT53e8ZkcomnDc=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
